appdirs
asn1crypto
configparser
contextlib2
cryptography
distlib
enum34
filelock
idna
importlib-metadata
importlib-resources
ipaddress
keyring
keyrings.alt
mysqlclient
pathlib2
pbr
pycrypto
pygobject
pyxdg
scandir
SecretStorage
setuptools
singledispatch
six
stevedore
typing
virtualenv
virtualenv-clone
virtualenvwrapper
wheel
zipp